.full-width {
    width: 100%;
}

.cancel-btn {
    color: white !important;
    background: #A0A0A0;
    margin-right: 24px;
}

.upload-img-container {
    background-color: rgb(209, 204, 204);
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
}